{# templates/orders/order.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Заказы</title>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">ID заказа</th>
                <th scope="col">Имя</th>
                <th scope="col">Дата заказа</th>
                </tr>
            </thead>
            {% for order in result['orders'] %}
            <tbody>
                <tr>
                <th scope="row">{{ order['id'] }}</th>
                <td>{{ order['firstName'] }}</td>
                <td>{{ order['createdAt'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>